<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="code1" method="POST" enctype="multipart/form-data">
    <input type="file">
    <input type="submit">
</form>

<form id="code2" method="POST" enctype="multipart/form-data">
    <input type="file">
    <input type="submit"> 
</form>

<form id="code3" method="POST" enctype="multipart/form-data">
    <input type="file">
    <input type="submit"> 
</form>

<form id="code4" method="POST" enctype="multipart/form-data">
    <input type="file">
    <input type="submit"> 
</form>
</body>
</html>