<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="code1" method="POST" enctype="multipart/form-data">
    bot 1:
    <p></p>

    <textarea></textarea>
    <p></p>

    <input type="submit">
    <p></p>

</form>

<form id="code2" method="POST" enctype="multipart/form-data">
    <p></p>

    bot 2:
    <p></p>

    <textarea></textarea>
    <p></p>

    <input type="submit">
</form>

<form id="code3" method="POST" enctype="multipart/form-data">
    bot 3:
    <p></p>
    <textarea></textarea>
    <p></p>

    <input type="submit">
</form>

<form id="code4" method="POST" enctype="multipart/form-data">
    bot 4:
    <p></p>

    <textarea></textarea>
    <p></p>

    <input type="submit">
</form>
</body>
</html>