<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="form" name="form" method="POST" enctype="multipart/form-data">
    bot 1:
    <textarea name="code1"></textarea>
    <p></p>
    bot 2:
    <textarea name="code2"></textarea>
    <p></p>

    bot 3:
    <textarea name="code3"></textarea>
    <p></p>

    bot 4:
    <textarea name="code4"></textarea>
    <p></p>

    <input type="submit">
</form>
<a href="/test/init_map">играть</a>
</body>
</html>