<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
<h1 align="center">РЕГИСТРАЦИЯ</h1>
<form method="post" enctype="multipart/form-data">
    <p align="center">Логин:</p>
    <div class="form-group">
        <label for="key"></label>
        <p align="center"><input name="LOGIN" novalidate="false"></p>
        <p align="center">Пароль:</p>
        <p align="center"><input name="PASSWORD" novalidate="false"></p>

        <p align="center"><input type="submit" ></p>
    </div>
</form>
<p align="center"><a href="registration.html">Назад</a></p>
</body>
</html>