<!DOCTYPE HTML>
<html>

<head>

    <meta charset="UTF-8">
    <script src="app.js"></script>
    <title>entrance</title>
</head>

<body>
<div>
    <p>
    <h1 align="center">ВХОД</h1></p>
    <p align="center">Логин:</p>

    <div class="form">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <p align="center"><input name="LOGIN" novalidate="false"></p>
                <p align="center">Пароль:</p>
                <p align="center"><input name="PASSWORD" novalidate="false"></p>
                <p align="center">Загрузите свой код на Python</p>
                <p align="center"><input id="download_file" type="file"></p>
                <p align="center">Ваша ставка:</p>
                <p align="center"><input type="number"></p>
                <p align="center"><input type="submit"></p>

            </div>

        </form>
        <p align="center">Если вы еще не зарегистрированы, нажмите <a href="registration2.0.html">cюда</a></p>
    </div>

    </p>
</div>
</body>

</html>


</body>
</html>